h1 {
    color: rgb(165, 0, 0);
    text-align: center;
}

h2 {
    color: rgb(116, 9, 9);

}

h3 {
    color: rgb(90, 11, 11);
;
}

p {
    color: rgb(71, 7, 7);
}

.highlight {
    color:rgba(43, 1, 1, 0.932);
    background-color:rgba(252, 6, 6, 0.37)
}